/* screen - iphone-14-pro-max-6 */

.iphone-14-pro-max-6 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 932px;
  overflow: hidden;
  width: 430px;
}

.iphone-14-pro-max-6 .frame-911 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: -111px;
  margin-top: -101px;
  min-width: 309px;
}

.iphone-14-pro-max-6 .overlap-group2 {
  align-self: center;
  height: 594px;
  margin-right: 2.0px;
  margin-top: 19px;
  position: relative;
  width: 340px;
}

.iphone-14-pro-max-6 .frame-910 {
  background-color: var(--turquoise-blue);
  border-radius: 24px 24px 0px 0px;
  height: 451px;
  left: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-14-pro-max-6 .frame-909 {
  background-color: var(--charlotte);
  border-radius: 24px 24px 0px 0px;
  height: 325px;
  left: 0;
  position: absolute;
  top: 269px;
  width: 340px;
}

.iphone-14-pro-max-6 .frame-908 {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 27px;
  min-width: 293px;
  position: absolute;
  top: 542px;
}

.iphone-14-pro-max-6 .my-button {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.0px;
  min-width: 31px;
  white-space: nowrap;
}

.iphone-14-pro-max-6 .my-button-1 {
  margin-bottom: 2.0px;
  margin-left: 69px;
  min-width: 62px;
}

.iphone-14-pro-max-6 .button {
  align-items: flex-start;
  background-color: var(--shark);
  border-radius: 100000px;
  display: flex;
  height: 40px;
  margin-left: 55px;
  min-width: 62px;
  padding: 9px 14px;
}

.iphone-14-pro-max-6 .radio-group {
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  backdrop-filter: blur(8px) brightness(100%);
  background-color: var(--white-2);
  border-radius: 16px;
  box-shadow: 0px 32px 32px -24px #0000001a;
  flex-direction: column;
  height: 169px;
  left: 30px;
  padding: 1px 0;
  position: absolute;
  top: 350px;
  width: 283px;
}

.iphone-14-pro-max-6 .item-0 {
  align-items: flex-start;
  display: flex;
  margin-top: 7px;
  width: 267px;
}

.iphone-14-pro-max-6 .radio-wrapper {
  border-radius: 8px;
  gap: 8px;
  height: 40px;
  padding: 0 8px;
  width: 267px;
}

.iphone-14-pro-max-6 .controller-1 {
  align-items: flex-start;
  background-color: var(--storm-dust);
  border-radius: 24px;
  display: flex;
  min-width: 24px;
}

.iphone-14-pro-max-6 .label {
  letter-spacing: 0;
  line-height: 13.2px;
  margin-bottom: 2.0px;
  min-height: 14px;
  white-space: nowrap;
  width: 219px;
}

.iphone-14-pro-max-6 .item {
  align-items: flex-start;
  display: flex;
  width: 267px;
}

.iphone-14-pro-max-6 .controller {
  background-color: var(--white);
  border-radius: 24px;
  height: 24px;
  width: 24px;
}

.iphone-14-pro-max-6 .if-you-are-a-male-skip-this-question {
  color: var(--storm-dust-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxs);
  font-weight: 600;
  left: 84px;
  letter-spacing: 0;
  line-height: 12.6px;
  position: absolute;
  top: 523px;
  white-space: nowrap;
}

.iphone-14-pro-max-6 .frame-905 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 55px;
  position: absolute;
  top: 303px;
  width: 302px;
}

.iphone-14-pro-max-6 .what-is-your-waist-measurement {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  min-height: 25px;
  width: 280px;
}

.iphone-14-pro-max-6 .taken-below-the-ribs {
  letter-spacing: 0;
  line-height: 14.1px;
  min-height: 30px;
  text-align: center;
  width: 302px;
}

.iphone-14-pro-max-6 .frame-904 {
  background-image: url(../img/group-2-8@2x.png);
  background-size: 100% 100%;
  height: 4px;
  left: 16px;
  position: absolute;
  top: 286px;
  width: 311px;
}

.iphone-14-pro-max-6 .frame-903 {
  background-color: var(--white);
  border-radius: 24px 24px 0px 0px;
  height: 216px;
  left: 21px;
  position: absolute;
  top: 53px;
  width: 300px;
}

.iphone-14-pro-max-6 .frame-902 {
  background-image: url(../img/asset-1-1-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 237px;
  left: 114px;
  position: absolute;
  top: 32px;
  width: 115px;
}

.iphone-14-pro-max-6 .frame-901 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 248px;
  min-height: 88px;
  position: absolute;
  top: 181px;
  width: 50px;
}

.iphone-14-pro-max-6 .vector {
  height: 47px;
  width: 30px;
}

.iphone-14-pro-max-6 .female {
  letter-spacing: 0;
  line-height: 15.7px;
  min-height: 34px;
  text-align: center;
  width: 50px;
}

.iphone-14-pro-max-6 .frame-912 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: -77px;
  margin-top: 6px;
  min-width: 281px;
}
