/* screen - iphone-14-pro-max-1 */

.iphone-14-pro-max-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 932px;
  overflow: hidden;
  width: 430px;
}

.iphone-14-pro-max-1 .overlap-group {
  align-self: flex-end;
  height: 689px;
  margin-right: -139.96px;
  margin-top: -133px;
  position: relative;
  width: 509px;
}

.iphone-14-pro-max-1 .frame-958 {
  height: 355px;
  left: 154px;
  position: absolute;
  top: 226px;
  width: 355px;
}

.iphone-14-pro-max-1 .frame-957 {
  background-color: var(--lily-white);
  border-radius: 177.48px;
  height: 355px;
  left: 57px;
  position: absolute;
  top: 0;
  width: 355px;
}

.iphone-14-pro-max-1 .frame-955 {
  background-image: url(../img/image-3-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 198px;
  left: 13px;
  position: absolute;
  top: 491px;
  width: 282px;
}

.iphone-14-pro-max-1 .assess-your-risk-of-fatty-liver {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: 35px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 362px;
  width: 308px;
}

.iphone-14-pro-max-1 .frame-953 {
  background-image: url(../img/image-2-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 157px;
  position: absolute;
  top: 226px;
  width: 191px;
}

.iphone-14-pro-max-1 .frame-956 {
  align-items: flex-start;
  display: flex;
  height: 100px;
  margin-right: 20.0px;
  margin-top: 30px;
  min-width: 252px;
  padding: 0 25px;
}

.iphone-14-pro-max-1 .lets-get-started {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 50px;
  margin-top: -1px;
  min-height: 100px;
  text-align: center;
  width: 202px;
}

.iphone-14-pro-max-1 .frame-959 {
  align-items: flex-start;
  background-color: var(--cerulean);
  border-radius: 30px;
  display: flex;
  margin-right: 17.0px;
  margin-top: 71px;
  overflow: hidden;
  padding: 0 51px;
  width: 265px;
}

.iphone-14-pro-max-1 .click-here {
  color: var(--white);
  font-family: var(--font-family-inder);
  font-size: 36px;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
}
