.i-phone-14-pro-max-15,
.i-phone-14-pro-max-15 * {
    box-sizing: border-box;
}

.i-phone-14-pro-max-15 {
    background: #ffffff;
    width: 430px;
    height: 932px;
    position: relative;
    overflow: hidden;
}

.circle-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 215px;
    top: 93px;
    overflow: visible;
}

.circle-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 118px;
    top: -133px;
}

.ellipse-2 {
    background: #e4faff;
    border-radius: 50%;
    flex-shrink: 0;
    width: 354.96px;
    height: 354.96px;
    position: relative;
}

.note-this-risk-assessment-tool-is-not-intended-as-medical-advice-or-to-suggest-treatment-the-study-investigators-recommend-that-you-consult-your-physician-or-other-healthcare-professional-for-advice {
    color: #6c6d6d;
    text-align: left;
    font: 600 14px/20.13px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - 192px);
    top: 756px;
    width: 383px;
}

.https-www-nash-24-x-7-com {
    color: #6c6d6d;
    text-align: center;
    font: 600 18px/20.13px 'Inter', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: calc(50% - 125px);
    top: 708px;
}

.you-are-at-high-risk-for-non-alcoholic-fatty-liver-disease-nafld-consult-your-doctor-at-the-earliest-and-ask-about-nafld-and-further-steps-to-the-taken-for-more-insights-about-liver-health-visit-our-nash-24-x-7-website {
    color: #ff2020;
    text-align: center;
    font: 600 16px/20.13px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - 179px);
    top: 558px;
    width: 358px;
}

._9 {
    color: #ff0000;
    text-align: center;
    font: 600 50px/60px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - 17px);
    top: 483px;
}

.unhealthy-liver-score {
    color: #ff0000;
    text-align: center;
    font: 600 50px/60px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - 136px);
    top: 358px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 218px;
    top: 93px;
}

.image-2 {
    flex-shrink: 0;
    width: 190px;
    height: 100px;
    position: relative;
}